doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
  body
    +script("/assets/lib/form/dev/op.js")
    script: include:lsc index.ls
