div
  .form-long-answer(ld-scope,plug="view")
    .mb-2(ld="if-markdown-enabled"): .d-flex.align-items-center
      .d-flex.align-items-center.text-sm.text-muted.mr-4(style="line-height:1em")
        input.mr-1(type="checkbox",ld="use-markdown")
        div
          span.mr-2(t="enable markdown")
          span (
          a.mx-2(href="https://markdown.tw/",target="_blank",rel="noopener noreferrer",t="syntax")
          span )
      .d-none(ld="if-markdown"): .d-flex.align-items-center.text-sm.text-muted.mr-4(style="line-height:1em")
        input.mr-1(type="checkbox",ld="toggle-preview")
        div(t="preview")
    .position-relative
      textarea.form-control(rows="5",ld="input-field edit-panel")
      .w-100.bg-light.rounded.p-3.text-break.d-none(ld="preview-panel",style="min-height:150px")
  div(plug="config")
    .d-none.flex-grow-1(ld="edit-only"): .text-nowrap.d-flex.align-items-center
      .mr-2(t="provide markdown option")
      div: .switch.ml-2(ld="switch", data-name="markdownEnabled")

  script(type="@plotdb/block"): include:lsc index.ls
