div
  .form-short-answer(ld-scope,plug="view")
    .position-relative
      input.form-control(ld="input-field edit-panel",placeholder="輸入數值 ... ")
  script(type="@plotdb/block"): include:lsc index.ls
