extends /base.pug
block prehead
  base(href="/")
block head
  style(type="text/css"): :stylus
    .form-control.simple
      border-width: 0 0 1px 0
      border-color: #f9f9f9
      background: #fdfdfd
    .form-control::placeholder
      color: #d9dadb
block body
  h1 hi
  .w-640.mx-auto.rwd.my-4
    .rounded-lg.shadow
      .p-4
        h3 問題的標題
        p 關於問題的簡單描述 ...
        input.form-control.simple(placeholder="請在這裡輸入 ...")
      .border-top.border-bottom
        each i in [1,2,3]
          .m-4
            .d-flex.align-items-center.justify-content-between
              .mr-2: .switch.switch-lg
              .mr-2: .dropdown
                .btn.btn-light.dropdown-toggle 數值
                .dropdown-menu
              .mr-2: .dropdown
                .btn.btn-light.dropdown-toggle ≧大於或等於
                .dropdown-menu
              .mr-2: input.form-control.simple(placeholder="值 1")
              div: input.form-control.simple(placeholder="值 2")

      .p-4
        .d-flex.align-items-center
          .mr-2: .btn.btn-sm.btn-outline-danger 刪除
          .mr-2: .btn.btn-sm.btn-outline-secondary #[i.i-clone] 複製
          .flex-grow-1.justify-content-end.d-flex
            .ml-4.d-flex.align-items-center 公開 #[.switch.ml-2]
            .ml-4.d-flex.align-items-center 必填 #[.switch.ml-2.on]
            .ml-4.d-flex.align-items-center 顯示描述 #[.switch.ml-2]
            .ml-4: .dropdown
              .btn.btn-light.dropdown-toggle 用途
              .dropdown-menu

