extends /base.pug
block body
  .w-1024.rwd.mx-auto.my-4
    .row
      .col-md

        form.form.w-480.mx-auto
          .mb-3
            .btn.btn-outline-secondary.mr-2 複製
            .btn.btn-outline-secondary 刪除
          .form-group
            label 標題
            input.form-control
          .form-group
            label 描述
            textarea.form-control
          .form-group
            label 代稱
            input.form-control
          .form-group
            label 預設值
            input.form-control
          .form-group
            label 提示
            input.form-control
          .form-group
            label 說明
            input.form-control
          .d-flex.justify-content-between.mb-4
            .d-flex.align-items-center
              .mr-2 啟用
              .switch
            .d-flex.align-items-center
              .mr-2 必填
              .switch
          each i in [1,2,3]
            .d-flex.align-items-center.mb-3(style="gap:1em")
              .switch.switch-lg(style="width:5em")
              select.form-control(style="width:3em")
              select.form-control(style="width:3em")
              input.form-control
      .col-md: .h-100.align-items-stretch
        textarea.form-control.h-100


  hr
  #root.w-1024.rwd.mx-auto.my-4

block script
  script(type="module"): include:lsc index.ls
