div
  include @/@makeform/nest/mixin.pug
  script(type="@plotdb/block"): include:lsc index.ls
  .px-3.py-2.shadow-sm.border.rounded(plug="widget")
    +widget("name")
    +widget("title")
    +widget("gender")
