div
  .form-multi-choice(ld-scope,plug="view")
    .form-check(ld-each="item")
      label.form-check-label.clickable
        input.form-check-input(type="checkbox",ld="input")
        span(ld="name")
    .form-check
      label.form-check-label.clickable
        input.form-check-input(type="checkbox")
        span other
      input.form-control.form-control-sm
  script(type="@plotdb/block"): include:lsc index.ls
