.ce-condition-card
  background: #fafafa

.ce-when-wrap, .ce-effect-wrap
  background: #fff

.ce-sub-cond
  background: #f5f5f5

.ce-seg-select
  width: auto
  display: inline-block

.ce-type-sel
  width: auto
  max-width: 140px

.ce-cond-body
  border-left: 2px solid #dee2e6
  padding-left: .75rem
