.rounded-lg.shadow.mb-4
  .p-4
    .d-flex
      .flex-grow-1
        h3(ld="title") 問題的標題
        p 關於問題的簡單描述 ...
      div
        .ml-4: .dropdown(ld="dropdown")
          .btn.btn-light.dropdown-toggle(data-toggle="dropdown") 短名
          .dropdown-menu.dropdown-menu-right
            .dropdown-item 統一編號
            .dropdown-item 電話
            .dropdown-item 團隊名稱
            .dropdown-item: input.form-control(placeholder="自訂 ...")
    //-input.form-control.simple(placeholder="請在這裡輸入 ...")
    plug(name="view")
  .border-top.border-bottom
    .m-4
      .d-flex.align-items-center.justify-content-between
        .mr-2: .switch.switch-lg
        .mr-2: .dropdown(ld="dropdown")
          .btn.btn-light.dropdown-toggle 數值
          .dropdown-menu
        .mr-2: .dropdown(ld="dropdown")
          .btn.btn-light.dropdown-toggle ≧大於或等於
          .dropdown-menu
        .mr-2: input.form-control.simple(placeholder="值 1")
        .mr-2: input.form-control.simple(placeholder="值 2")
        i.i-close.text-danger(ld="delete")
    .mx-4.my-4: a(href="#") 增加條件 ...
  .p-4
    .d-flex.align-items-center
      .mr-2: .btn.btn-sm.btn-outline-danger(ld="delete") #[i.i-close] 刪除
      .mr-2: .btn.btn-sm.btn-outline-secondary(ld="clone") #[i.i-clone] 複製
      .flex-grow-1.justify-content-end.d-flex
        .ml-4.d-flex.align-items-center.line-height-1em 公開 #[.switch.ml-2(ld="switch",data-name="isPublic")]
        .ml-4.d-flex.align-items-center.line-height-1em 必填 #[.switch.ml-2.on(ld="switch",data-name="isRequired")]
        .ml-4.d-flex.align-items-center.line-height-1em 顯示描述 #[.switch.ml-2(ld="switch",data-name="showDesc")]

  script(type="@plotdb/block"): include:lsc index.ls
