extends base.pug
block prehead
  base(href="/")
block body
  mixin comp(type,name)
    .d-inline-block.m-2(ld="form-comp",data-type=type,data-name=name)

  .w-1024.rwd.mx-auto.my-4
    h1 hi
    .d-flex.align-items-center
      span 大家好, 我是 #[+comp("input","name")]，性別 #[+comp("choice","gender")]，我的體重是 #[+comp("input","weight")]公斤，身高是 #[+comp("input","height")]公分，BMI 是 #[+comp("input","bmi")]
    +comp("multiple-choice","choice")
    +comp("file","file")
    .border.m-4.shadow-sm.rounded(style="width:400px;height:400px;overflow:hidden;")
      .w-100.h-100(ld="sheet")
block script
  script(type="module"): include:lsc index.ls
