extends base.pug
block prehead
  base(href="/")
block body
  .w-1024.rwd.mx-auto.my-4
    h1 hi
    div(ld="i")
    input(type="input")
    input(type="file")
    textarea
block script
  script(type="module"): include:lsc index.ls
