doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  include @/ldview/dist/index.pug
  head
  +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
  +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
  style(type="text/css"): :stylus

    @font-face
      font-family: 'ldi'
      font-weight: normal
      font-style: normal
      src:
        url('/assets/lib/ldui/fonts/ldi.ttf?x74ll4') format('truetype'),
        url('/assets/lib/ldui/fonts/ldi.woff?x74ll4') format('woff'),
        url('/assets/lib/ldui/fonts/ldi.svg?x74ll4#ldi') format('svg')

  body
    .w-1024.mx-auto.rwd.heading-contrast.typeset
      .row
        .col-md: #root
          h1 hi
          div(ld-form="file")
            .btn.btn-upload.btn-primary
              span 上傳檔案
              input(type="file")
            .feedback
        .col-md: +scope("ui")#ui
          div: .text-sm.mb-4.border.p-3(ld-each="bok")
            .row
              .col-md: .form-group
                label block name
                input.form-control(ld="input",name="name")
              .col-md: .form-group
                label block id
                input.form-control(ld="input",name="id")
            .form-group
              label description
              textarea.form-control.mb-2(ld="input",name="description",rows="2")
            .row.mb-4
              .col-md
                .form-check
                  input.form-check-input.clickable(ld="check",name="public",type="checkbox")
                  label.form-check-label.no-select.clickable public
              .col-md
                .form-check
                  input.form-check-input.clickable(ld="check",name="required",type="checkbox")
                  label.form-check-label.no-select.clickable required
              .col-md
                .form-check
                  input.form-check-input.clickable(ld="check",name="show-desc",type="checkbox")
                  label.form-check-label.no-select.clickable show desc

            .border.p-2.rounded
              .d-flex.align-items-center(ld-each="criteria")
                .flex-grow-1.mr-2: .form-group
                  label criteria type
                  input.form-control.form-control-sm(ld="input",name="type")
                .flex-grow-1.mx-2: .form-group
                  label criteria rule
                  input.form-control.form-control-sm(ld="input",name="rule")
                .flex-grow-1.ml-2: .form-group
                  label criteria value
                  input.form-control.form-control-sm(ld="input",name="value")
                div
                  .form-group
                    label &nbsp;
                    .btn.btn-sm.btn-text(ld="delete"): i.i-close
              .btn.btn-sm.btn-outline-secondary(ld="add-criteria") Add Criteria

          .btn.btn-outline-secondary.mb-2(ld="new-block") New Block
          br
          .btn.btn-outline-secondary.mb-2(ld="render") Dump Def Json
          #output


    +script("/assets/lib/ldui/ldui.min.js")
    +script("/js/index.js")
    +script("/js/ui.js")
