div
  .form-sheet(ld-scope,plug="view")
  script(type="@plotdb/block"): include:lsc index.ls
  style(type="text/css"): :stylus
    [plug=view]
      position: relative
      padding-top: 50%
      border: 1px solid #ccc
      .sheet
        position: absolute
        top: 0
        left: 0
